<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>PremiereBind Companion</string>
    <key>CFBundleExecutable</key>
    <string>PremiereBindCompanion</string>
    <key>CFBundleIdentifier</key>
    <string>com.premierebind.companion</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PremiereBind Companion</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key><string>PremiereBind Package</string>
            <key>CFBundleTypeRole</key><string>Editor</string>
            <key>LSHandlerRank</key><string>Owner</string>
            <key>CFBundleTypeIconFile</key><string>PremiereBindPackage</string>
            <key>LSItemContentTypes</key><array><string>com.premierebind.package</string></array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key><string>com.premierebind.package</string>
            <key>UTTypeDescription</key><string>PremiereBind Package</string>
            <key>UTTypeConformsTo</key><array><string>com.pkware.zip-archive</string><string>public.data</string></array>
            <key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>prbind</string></array><key>public.mime-type</key><string>application/x-premierebind</string></dict>
        </dict>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © PremiereBind</string>
</dict>
</plist>
